body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    

}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-links a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.main-secton{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

/* ============= ADD TASK BOX ============= */
.add-task-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#task-input {
    width: 250px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
}

#add-task-btn {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#add-task-btn:hover {
    background: #0056b3;
}


.task-buttons button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.done-btn {
    background-color: #28a745;
    color: white;
}

    .main-section {
         text-align: center;
         margin-top: 80px;
         font-size: 30px;
    }
.delete-btn {
    background-color: #dc3545;
    color: white;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
